# Исключаем файлы данных
*.xlsx
*.json
*.md

# Исключаем переменные окружения
.env

# Не игнорировать README.md в любом регистре, в любом месте
!README.md
!readme.md
!Readme.md

# Исключаем виртуальное окружение и настройки VSCode
.venv/
.vscode/

# Исключаем Python-кеш
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем создаваемые файлы и каталоги
tenders_chunks/
tenders_json/
tenders_md/
tenders_xlsx/
tenders_positions/
prompts/
logs/